alias sudo='sudo '
alias ll='ls -l'
alias la='ll -a'
alias e='$EDITOR -a "" -nw'
alias proj='PROJECTS_HOME=~/projects proj'
alias p='proj -i'
alias fcd='fuzzycd -base'
alias runstack='stack exec $(ls | grep .cabal$ | xargs cat | grep executable | cut -d" " -f2)'

alias awsenv='env | grep -i aws'

if [ $(uname) == 'Linux' ]; then
    # enable color support of ls and also add handy aliases
    if [ -x /usr/bin/dircolors ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
	alias ls='ls --color=auto'
	alias grep='grep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias egrep='egrep --color=auto'
    fi
else # bsd-like
    alias ls='ls -G'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi


# Kubernetes utils
function _kns {
    if [ -z "$1" ]; then
        unset KUBENS
    else
        KUBENS="-n $1"
    fi
}

function _kctx {
    if [ -z "$1" ]; then
        unset KUBECTX
    else
        KUBECTX="--context $1"
    fi
}

source <(command kubectl completion bash)

alias k='kubectl ${KUBECTX} ${KUBENS}'
alias kns='_kns'
alias kctx='_kctx'

# git utils
alias stg='git diff --staged'
alias amend='git commit --amend'
alias br="git br | grep -E '^\*' | cut -f2 -d' '"

alias tf='terraform'
alias npm='pnpm'
