[core]
        excludesFile = ~/.gitignore

[user]
	name = mewa
	email = marcin.k.chmiel@gmail.com
[push]
	default = simple
[alias]
        ch = checkout
        c  = commit
	ss = status
	br = branch
	l = log
	lg = log --graph
        full = lg --pretty=fuller
        stat = diff --stat
        pushbr = push -u origin HEAD
[color]
	ui = auto
	diff = auto
	blame = true
[color "branch"]
       current = yellow reverse
       local = yellow
       remote = blue
[color "diff"]
       meta = blue bold
       frag = yellow
[color "status"]
       untracked = yellow
[merge]
	ff = false
[pull]
	ff = true
[core]
	excludesfile = ~/.gitignore
[blame]
	coloring = highlightRecent
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
